{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
<head>
  <meta charset="UTF-8">
  <title>Accounts</title>
</head>
    <h1>Smart city Project Website</h1>
<body>
  <a href="{% url 'Information_specific' %}">Information Specific</a>
  <a href="{% url 'City_information' %}">City Information</a>
  <a href="{% url 'City_map' %}">City Map</a>
  <a href="{% url 'Logout' %}">Logout</a>
{% block content %}
  <h1> You must login to use the website...</h1>
{% endblock %}
</body>
</html>







