

{% extends 'base.html' %}
{% block title %}PROFILE PAGE{% endblock %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />

{% block content %}
<head>
    <meta charset="UTF-8">
    <div class="topnav_after">
         <a href="{% url 'Profile' %}">HOME</a>
         <a href="{% url 'ViewHotel' %}">VIEW HOTEL</a>
         <a href="{% url 'ViewCollege' %}">VIEW COLLEGE</a>
         <a href="{% url 'ViewLibrary' %}">VIEW LIBRARY</a>
         <a href="{% url 'ViewIndustry' %}">VIEW INDUSTRY</a>
         <a href="{% url 'ViewCityMap' %}">CITY MAP</a> <!--linking needs to be done-->
         <a href="{% url 'ViewCityInformation' %}">CITY INFORMATION</a> <!--linking needs to be done-->
    </div>



<!-- Zoos, Museums, Malls, and Restaurants.-->

<body>

<p> "Hey There" </p>

    <div class="Buttons">
        <button class="button1">Zoos</button>
        <button class="button2">Malls</button>
        <button class="button3">Galleries</button>
        <button class="button4">Restaurants</button>
    </div>
</body>

{% endblock %}


