

{% extends 'base.html' %}
{% block title %}PROFILE PAGE{% endblock %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />

{% block content %}
<head>
    <meta charset="UTF-8">
    <div class="topnav_after">
         <a href="{% url 'Profile' %}">HOME</a>
         <a href="{% url 'ViewHotel' %}">VIEW HOTEL</a>
         <a href="{% url 'ViewCollege' %}">VIEW COLLEGE</a>
         <a href="{% url 'ViewLibrary' %}">VIEW LIBRARY</a>
         <a href="{% url 'ViewIndustry' %}">VIEW INDUSTRY</a>
         <a href="{% url 'ViewCityMap' %}">CITY MAP</a> <!--linking needs to be done-->
         <a href="{% url 'ViewCityInformation' %}">CITY INFORMATION</a> <!--linking needs to be done-->
    </div>



<!-- View Zoos, Museums, Malls, and Restaurants.-->

<body>
    <a href="{% url 'ViewZoos' %}" ><button class="button">Zoos</button></a>
    <a href="{% url 'ViewParks' %}" ><button class="button">Parks</button></a>
    <a href="{% url 'ViewMalls' %}" ><button class="button">Malls</button></a>
    <a href="{% url 'ViewMuseums' %}" ><button class="button">Museums</button></a>
    <a href="{% url 'ViewRestaurants' %}" ><button class="button">Restaurants</button></a>


<!-- Display information on pages -->

<p class = "information">
    {% for r in results %}
    <pre>

    {{ r.name }} <br>
    {{ r.address }} <br>
    {{ r.phoneNumber}} <br>
    <a href = "{{ r.websiteURL }}">Click here to visit the website</a><br>


    {{ r.info }} <br>
    </pre>
    {% endfor %}
</p>

</body>



{% endblock %}

