{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="../../static/base.css" />

    
<body>
  
  <div class="topnav_after">
<!--{% block content %}-->
  <a href="{% url 'Home' %}">Home</a>
  <a href="{% url 'City Information' %}">City Information</a>
  <a href="{% url 'City Map' %}">City Map</a>
  <a href="{% url 'User Information' %}">User Type Information</a>
  <a href="{% url 'Account' %}">My Account</a>
  <a href="{% url 'Log out' %}">Log Out</a>
  </div>
  



<!--{% endblock %}--> 
  
  
</body>
</html>




