{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="../../static/base.css" />


    {% block content %}
    <div class="topnav_before">
  <a href="{% url 'Home' %}">Go Home</a>
  <a href="{% url 'Login' %}">Login</a>
  <a href="{% url 'Register' %}">Register</a>
  </div>



  <body>
    <div class="login-block">
        <form method="POST" action="/login/submit/">
            {% csrf_token %}
            <h1>Login</h1>
            <input type="text" value="" placeholder="Username" name="username" />
            <input type="password" value="" placeholder="Password" name="password" />
            <input type="submit" name="submit" value="Login" class="btn">
        </form>
    </div>
  </body>
    {% endblock %}