{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <h2>Login</h2>
 <form class="form" method="post" action="." >{% csrf_token %}
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <button type="submit"  value="Login" id="login-button">Login</button>
        <button type="button" onclick="window.location.href='/register/' ">Register</button>
        <input type="hidden" name="next" value="/home" />
</form>
{% endblock %}