
{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="../../static/base.css" />


  {% block content %}
    <div class="topnav_before">
  <a href="{% url 'Home' %}">Go Home</a>
  <a href="{% url 'Login' %}">Login</a>
  <a href="{% url 'Register' %}">Register</a>
  </div>

  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>

            {{ field.label_tag }}<br>
            {{ field }}

        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}<br><br>
      </p>



    <button type="submit">Sign up</button>
  </form>
{% endblock %}

<!--
<input type="text" placeholder="Username" name="username"> <small style="color: grey"> Enter username </small>
      <br>
      <input type="text" placeholder="Firstname" name="firstname"> <small style="color: grey"> Enter First name </small>
      <br>
      <input type="text" placeholder="Lastname" name="lastname"> <small style="color: grey"> Enter Last Name </small>
      <br>
      <select name="user_type">
          <option value="tourist">Tourist</option>
          <option value="businessman">Businessman</option>
          <option value="student">Student</option>
      </select><small style="color: grey"> Please select your user type </small>
      <br>
      <input type="hidden" name="current"
      <input type="text" placeholder="Email" name="email"> <small style="color: grey"> Enter Email </small>
      <br>
      <input type="text" placeholder="Date of Birth" name="dateofbirth"> <small style="color: grey"> Enter date of birth with "DD/MM/YYYY" format </small>
      <br>
      <input type="password" placeholder="Password" name="password1"> <small style="color: grey"> Enter Password </small>
      <br>
      <input type="password" placeholder="Password again" name="password2"> <small style="color: grey"> Validate Password again </small>
      <br>
      <input type="text" placeholder="Address" name="address"> <small style="color: grey"> Enter Address </small>
      <br>
      <input type="text" placeholder="Phone Number" name="phonenumber"> <small style="color: grey"> Enter Phone number </small>
      <br>
-->