{% extends "base.html" %}

{% load static %}
<link rel="stylesheet" type="text/css" href="../../static/base.css" />

{% block content %}
    <div class="topnav_after">
    <a href="{% url 'Profile' %}">HOME</a>
    <a href="{% url 'Logout' %}">LOGOUT</a>
    </div>
<br>
    <header>Please select an option to unlock access to its respective information</header>
<br>
<form method="get" action="/accounts/request_access_submit/" class="navbar-form pull-right">
        <select name="user_type">
        {% if request.session.user_type == 'student' %}
            <option value="businessman">Businessman</option>
            <option value="tourist">Tourist</option>
        {% elif request.session.user_type == 'businessman' %}
            <option value="tourist">Tourist</option>
            <option value="student">Student</option>
        {% elif request.session.user_type == 'tourist' %}
            <option value="student">Student</option>
            <option value="businessman">Businessman</option>
        {% endif %}

     </select>
    <input type="submit" class="btn" value="Change User Type" >
    </form>

 {% endblock %}
